# Build directories
build/

# Xilinx crap in build directory
*.bit
*.bgn
*.xwbt
*.drc

# Only keep the coregen stuff required to regenerate the IP cores
**/coregen/*
!**/coregen/*.vhd
!**/coregen/*.xco
!**/coregen/*.cgp
!**/coregen/*.cgc

# Node Stuff
node_modules
