[submodule "fpgakit"]
	path = fpgakit
	url = https://github.com/toptensoftware/fpgakit.git
	branch = master
	
[submodule "libSysCon"]
	path = libSysCon
	url = https://github.com/toptensoftware/libSysCon.git
	branch = master
