# This is a cut down version of the MimasV2 UCF file containing
# just the signals relevant for this project.

CONFIG VCCAUX = "3.3" ;


    NET "CLK_100MHz"            LOC = V10     | IOSTANDARD = LVCMOS33 | PERIOD = 100MHz ;
    NET "Button_B"              LOC = K18     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP; #SW6
    #NET "UART_RX"               LOC = A8      |  IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
    NET "UART_TX"                    LOC = B8      |  IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
    #NET "UART_RX"                  LOC = R10     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 3
    NET "UART2_TX"                  LOC = R11     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 1
